html, body {
  	height: 100%;
  	width: 100%;
  	color: #ffffff;
  	font-family: 'Times New Roman', Times, serif;
  	margin-top: 10px;
  	margin-bottom: 10px;
  	margin-right: 10px;
  	margin-left: 10px;
  	background-color: #323232;
	text-align: center;
}
a:link {
  	color: #00eeff;
}

/* visited link */
a:visited {
  	color: #00b3ff;
}

/* mouse over link */
a:hover {
  	color: #4400ff;
}

/* selected link */
a:active {
  	color: #9efffd;
}