html, body {
  	height: 100%;
  	width: 100%;
  	color: #ffffff;
  	font-family: 'Courier New', Courier, monospace;
  	margin-top: 0%;
  	margin-bottom: 0%;
  	margin-right: 0%;
  	margin-left: 0%;
  	background-color: #323232;
	text-align: center;
}
a:link {
  	color: #00eeff;
}

/* visited link */
a:visited {
  	color: #00b3ff;
}

/* mouse over link */
a:hover {
  	color: #4400ff;
}

/* selected link */
a:active {
  	color: #9efffd;
}

footer {
position: fixed;
bottom: 0;
}